<p class="info_component">La página de cuentos infantiles es un espacio en línea donde 
    los niños pueden escuchar y disfrutar de historias. Además, cuenta con un 
    formulario para que los usuarios puedan añadir cuentos a la biblioteca en línea. 
    Este formulario permite a los usuarios añadir nuevos cuentos enriqueciendo la selección de cuentos disponibles. 
    Al completar el formulario, los usuarios pueden incluir información sobre el título, 
    el autor y el contenido del cuento. Una vez enviado, el cuento será revisado y, si 
    cumple con los estándares de calidad, será publicado en la página. De esta manera, 
    la página de cuentos infantiles fomenta la participación y el intercambio de historias 
    entre los usuarios, creando una comunidad activa y colaborativa de cuentacuentos.</p>
