<header class="header">
    <nav>
      <div class="header_content">
        <div class="first_container">
        <a
            class="header_link home_link"
            [routerLink]="['home']"
        >Home</a>

      </div>
      <div class="second_container">
        <a 
            class="header_link"
            [routerLink]="['book-list']"
        >Lista de cuentos</a><a
            class="header_link"
            [routerLink]="['add-book']"
        >Añade tu propio cuento</a>
        <a
            class="header_link"
            [routerLink]="['added-by-users']"
            >Añadidos por los usuarios</a>
      </div>
    </div>
    </nav>
  </header>
  