
  .home_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(252, 252, 251);
    padding: 50px 0;
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
  }

  .components_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .text-primary {
    color: lightblue;
    font-size: 24px;
  }

  .text-secondary {
    color: lightgreen;
    font-size: 36px;
  }

  .gif_component 
  .info_component {
    margin: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }

