.footer {
    background-image: url("../../../../assets/images/cabeceraAzul.png");
    padding: 20px;
    text-align: center;
    margin-top: 50px;
  }
  
  .footer a {
    color: rgb(11, 101, 170);
    text-decoration: none;
    margin-right: 20px;
    padding: 30px;
  }
  
  .footer a:hover {
    color: white;
  }
  